<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>7bits front-end 2018 base number 1</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body class="backgroung">
        <div style="position: relative; padding: 2%">
            <div style="position: absolute; left: 1%; top: 3%; width: 33%; height: auto">
                <img src="../images/000002.jpg" alt="Red dreadlock hair woman" style="width: 100%; height: 100%; image-rendering: high-quality" >
            </div>
            <div class="simple_header" style="position: absolute; left: 36%; top: 3%; width: 60%; padding: 1%;">
                    About red dreadlocks
            </div>
            <div class="body_text" style="position: relative; left: 16%; width: 60%">
                <p>
            The ancient Vedic scriptures of India which are thousands of years old have the earliest evidence of jaata/locks which are almost exclusively worn by holy men and women. It has been part of a religious practice for Shiva followers.
            Some of the earliest depictions of dreadlocks date back as far as 3600 years to the Minoan Civilization, one of Europe's earliest civilizations, centred in Crete (now part of Greece).[3] Frescoes discovered on the Aegean island of Thera (modern Santorini, Greece) depict individuals with braided hair styled in long dreadlocks.[7][3]
            In ancient Egypt, examples of Egyptians wearing locked hairstyles and wigs have appeared on bas-reliefs, statuary and other artifacts.[8] Mummified remains of ancient Egyptians with locked wigs have also been recovered from archaeological sites.[9]
            During the Bronze Age and Iron Age, many peoples in the Near East, Asia Minor, Caucasus, East Mediterranean and North Africa such as the Sumerians, Elamites, Ancient Egyptians, Ancient Greeks, Akkadians, Assyrians, Babylonians, Hittites, Amorites, Mitanni, Hattians, Hurrians, Arameans, Eblaites, Israelites, Phrygians, Lydians, Persians, Medes, Parthians, Chaldeans, Armenians, Georgians, Cilicians and Canaanites/Phoenicians/Carthaginians are depicted in art with braided or plaited hair and beards.
                </p>
            </div>
        </div>
    </body>
</html>