.backgroung{
    background-color: #ffceea;
    font-size: 20px;
}

.body_text{
    color: black;
    margin: auto;
    padding: 30px;
}

.simple_header {
    border-radius: 10%;
    font-style: italic;
    background-color: #ffcf22;
    color: black;
}